.container-admin {
  color: #777;
}
.container-admin .footer {
  text-align: center;
  color: #888;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 22px;
  background-color: #eee;
  border-top: 1px solid #bbb;
  line-height: 20px;
}

h1 {
  padding-left: 10px;
  background-color: #aaa;
  color: #555;
  user-select: none;
  height: 44px;
  line-height: 44px;
  font-size: 28px;
}

.list-movie {
  display: inline-block;
  width: 300px;
  border-right: 1px solid #999;
  position: fixed;
  top: 44px;
  left: 0;
  bottom: 22px;
  overflow: auto;
  padding: 10px 30px 10px 20px;
}

.list-movie li {
  margin-bottom: 8px;
  user-select: none;
  cursor: pointer;
  padding: 2px 0;
  font-size: 14px;
}
.list-movie li.active {
  background-color: #aaa;
}

.info-movie-admin {
  position: fixed;
  top: 44px;
  left: 300px;
  right: 0;
  bottom: 20px;
}

.info-movie-admin .inner-info-movie {
  margin: 20px;
}

.info-movie-admin .img-cover {
  width: calc(100% - 750px);
  min-height: 420px;
  border: 1px solid #bbb;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  position: relative;
}

.info-movie-admin .img-cover img {
  width: 100%;
}

.info-movie-admin .img-cover p.image-not-found {
  position: absolute;
  text-align: center;
  font-size: 16px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.info-movie-admin .properties-movie {
  display: inline-block;
  width: 600px;
  margin-left: 40px;
  vertical-align: top;
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #ddd;
  border-color: #ddd transparent #ddd transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
