html {
  background-color: #1a2b38;
}

.header.container {
  background: #162530;
}

.header h2 a {
  font-size: 40px;
  padding: 8px 0;
  display: inline-block;
}

.main.container {
  padding: 20px 0;
}

.main .row .list--movie {
  background-color: #162530;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 40px;
  padding: 25px;
}

.main .item-movie {
  position: relative;
}

.main .item-movie .cover {
  height: 0;
  padding-bottom: 144%;
  background-position: center;
  background-size: cover;
}

.item-movie h4 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding-top: 10px;
  line-height: 1.4;
}

.main .vid {
  margin-bottom: 20px;
}

.main .my-video {
  width: 85%;
  height: 0;
  padding-bottom: 36%;
  margin: auto;
  position: relative;
}

.main .my-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
